## 학습목표
 * 반복문의 이해 및 활용 (for)
 * range 함수 이해

### for 반복문 
 - 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
 - 아래와 같은 문법으로 사용
 - 여기서 i는 매번 수행 될 때마다, a의 아이템으로 순차적으로 변경 됨
 - 모든 아이템이 순회되면 for 블록 종료
 
```python
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
```

In [2]:
a = [1,2,3,4,5]
for i in a :
    print(i, i*2)
print('end')

1 2
2 4
3 6
4 8
5 10
end

In [3]:
a = [1,2,3,4,5]
for number in a :     # 변수 원하는 대로 작명할 수 있음
    print(number)
print('end')

1
2
3
4
5
end

#### 문자열의 아이템 출력하기
 - 문자열의 경우 순회 가능, 리스트의 유사하게 순회 가능

In [6]:
for x in 10:
    print(x)

TypeError: 'int' object is not iterable

 정수형은 순환 할 수 없다. 문자열은 순환 할 수 있다.

In [4]:
a = 'hello world'
for character in a:
    print(character)

h
e
l
l
o

w
o
r
l
d

#### 리스트 아이템 출력하기

In [9]:
a = [1,10,3,42,5,842]
for num in a:
    if num % 2 == 0:
        print(num/2)
    else:
        print(num+1)

2
5.0
4
21.0
6
421.0

#### dict의 아이템 출력하기
  - dictionary의 경우 기본적으로 순회 하게 되면 key값을 참조
  - keys()함수를 이용하여 key 값만 순회 가능
  - values()함수를 이용하여 value 값만 순회 가능
  - items()함수를 이용하여 tuple형태로 key, value 순회 가능

In [12]:
a = {'korea':'seoual','japan':'tokyo','canada':'ottawa'}
for key in a:
    print(key)  # 키 만 가져옴
    print(key,a[key]) # 키 값 가져옴

korea
korea seoual
japan
japan tokyo
canada
canada ottawa

In [13]:
for key in a:
    print(key)

korea
japan
canada

In [14]:
for value in a.values():
    print(value)

seoual
tokyo
ottawa

In [16]:
list(a.items())  # 튜플로 리스트 가져옴

[('korea', 'seoual'), ('japan', 'tokyo'), ('canada', 'ottawa')]

In [18]:
for key, value in a.items():  # 키와 값은 쉼표로 표시해 불러 올 수 있다.
    print(key,value)

korea seoual
japan tokyo
canada ottawa

#### for에서 index 사용하기
  - 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 함
  - 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate 함수 이용)

```python
a = [1, 2, 4, 3, 5]
for i, val in enumerate(a):
    print i, val
```

In [20]:
a = [1,2,3,4,5,6,7,8,9,10]
for index, num in enumerate(a):
    print(index, num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [21]:
a = [1,2,3,4,5,6,7,8,9,10]
for index, num in enumerate(a):
    if index > 5:
        print(index, num)

6 7
7 8
8 9
9 10

####  break
  - for의 경우에도 특정 조건일 때, loop 종료가 가능

In [24]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num < 80:
        break
        
    print(num)

100
90
80

#### continue
 - 해당 아이템을 건너 뛰고 싶을 때 사용

In [25]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num < 60 and num <= 70:   # and 연산자
        continue
    print(num)

100
90
80
70
60

#### loop 중첩
  - 반복문의 경우에도 중첩하여 사용 가능
  - 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미
  - 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 됨
  - 또한 중첩의 경우 무한히 가능

```python
a = [1, 2, 4]
for i in a:
    for j in a:
        print i * j
```

In [26]:
a = [1,2,4] 
for i in a:         #3번 
    for j in a:     #3번 
        print(i *j) #3번 반복 으로 총 9번

1
2
4
2
4
8
4
8
16

# 구구단 출력하기

2 * 1 = 2  
2 * 2 = 4  
2 * 3 = 6  
...  
2 * 9 = 18  
3 * 1 = 3  
...  
9 * 1 = 9  
9 * 2 = 18  
9 * 3 = 27  
...  
9 * 9 = 81

In [5]:
x = [2,3,4,5,6,7,8,9]
y = [1,2,3,4,5,6,7,8,9]

for i in x :
    for j in y :
        print(i,'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### collection의 길이
 - len() 내장함수로 계산 가능
 - 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
 - abs, len, type, range 등이 있음 (과정 진행하면서 필요할 때마다 다룰 예정)

In [8]:
a = [1, 2, 3, 4, 5 ,6, 7, 8, 9]
len('hello world')

11

#### range 함수
  - 리스트를 쉽게 만들 수 있는 내장함수
  - 주어진 값에 따라 다양한 결과를 반환
 
```python
range(10)       -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10)    -> [2, 3, 4, 5, 6, 7, 8, 9] 
range(2, 10, 3) -> [2, 5, 8] 
```

* 1 - 100까지의 리스트 생성하기

In [9]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a = list(range(1,101))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [2]:
list(range(1, 101, 5))    #(첫시작, 끝 숫자, 단계)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

* **연습문제** 1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

In [3]:
list(range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

### if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [5]:
# 1번 문제 
# 구구단을 2 - 9단까지 출력하시오.

for i in range(1,10):
    for j in range(1,10):
        print('{} * {} = {}'.format(i,j,i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [26]:
# 2번 문제 
# 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.

nums = list(range(1,101))
for x in nums:
    if x % 2 == 0 or x % 11 == 0:
        print(x)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [33]:
# 3번 문제 
# a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)

_min = a[0]
for x in a :
    if x < _min:
        _min = x 
print(_min)

1

In [32]:
_max = a[0]
for x in a :
    if x > _max:
        _max = x 
print(_max)

99

In [35]:
_min = a[0]
_max = a[0]
for x in a[1:] :
    if x < _min:
        _min = x
    if x > _max:
        _max = x 
print(_min,_max)

1 99

In [34]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
a.sort()
a[0], a[-1]

(1, 99)

In [ ]:
# 4번 문제 
# a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [39]:
# while
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

i = 0
_sum = 0
while i < len(a):
    _sum += a[i]
    i += 1
    
print(_sum / len(a))

37.0

In [ ]:
# for
_sum = 0
for x in a:
    _sum += x
    i +
    
print(_sum / len(a))