## 📝 학습목표
 1. list, tuple에 대해 이해 및 실습

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [1]:
a = []
print(a)

[]

In [2]:
a = [1,2,3,4,5,10]
print(a)

[1, 2, 3, 4, 5, 10]

In [10]:
a = ['abcd','you',123,2,3,14,[34,'banana','hi'],[34]]
print(a)

['abcd', 'you', 123, 2, 3, 14, [34, 'banana', 'hi'], [34]]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [12]:
a = 'hello world nice weather'
print(a[5:11])

 world

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [15]:
a = [1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-2])

3
6
5

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [16]:
a = 'hello world'
print(a[0])
a[0] = 'j'

h

TypeError: 'str' object does not support item assignment

 불변 (immutable) 문자열을 한번 생성되면 변하지 않는다. 
 
 .replace를 활용하여 변화를 주는것 뿐 바뀌지는 않은난 불변함수

In [17]:
a = [1,2,3,4,5]
a[0] = 100
a[-2] = 30

print(a)  # 리스트 는 변환이 가능한다.

[100, 2, 3, 30, 5]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [19]:
a = [1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:5])
print(a[2:])
print(a[:])    # 모두다 프린트

# slicing
# start : and : increment(1)

a[1:7:2]

[5, 6, 7]
[1, 2, 3, 4, 5]
[3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[2, 4, 6]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [20]:
a = [1, 2, 3, 4, 5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [23]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

a.append(b)
print(a)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [25]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [27]:
a = [1,2,3,4,5,6]
a.insert(1,40)     # (바꾸고자 하는 위치인덱스, 변경하고자 하는 수)

print(a)

[1, 40, 2, 3, 4, 5, 6]

+ **remove()**
 * 값으로 항목 삭제

In [28]:
a = [1, 2, 30, 4, 5]
a.remove(30)          # 가장 앞에 나오는 것부터 찾아서 지운다. 
                      # [리스트에 없는 것을 지우면 오류발생]
print(a)

[1, 2, 4, 5]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [29]:
a = [1, 2, 3, 4, 5]
d = a.pop(2)

print(a)
print(d)        # 지우고자 하는 것을 불러오는 방법

[1, 2, 4, 5]
3

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [31]:
a = [1, 2, 34, 43, 25]
a.index(34)    # 내가 찾고자 하는 인덱스 위치 불러오기

2

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [33]:
a = [1, 2, 34, 43, 25]
b = 7

c = b in a
 
print(c)

False

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [38]:
a = [2,4,5,6,3,6,4,7,8,5,1,2,8,7,6]
a.sort()

print(a)

b = sorted(a)

print(b)

[1, 2, 2, 3, 4, 4, 5, 5, 6, 6, 6, 7, 7, 8, 8]
[1, 2, 2, 3, 4, 4, 5, 5, 6, 6, 6, 7, 7, 8, 8]

In [37]:
a = [2,4,5,6,3,6,4,7,8,5,1,2,8,7,6]
a.sort(reverse=True)

print(a)

[8, 8, 7, 7, 6, 6, 6, 5, 5, 4, 4, 3, 2, 2, 1]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능

In [39]:
a = [1, 2, 3]
b = (1, 2, 3)
print(type(a))
print(type(b))

a[0] = 100
print(a)

b[0] = 100
print(b)      # 튜플은 값 변경 안됨

<class 'list'>
<class 'tuple'>
[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

 #### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [43]:
a , b, c ,d ,f = 100, 200, 123, 555, 666
print(a, b)
print(c, d)
print(a, b, c, d, f)

100 200
123 555
100 200 123 555 666

* **연습문제** a와 b의 값을 교환하시오

In [47]:
a = 5
b = 3

print(a, b)

a, b = b, a

print(a, b)

b = a

print(a, b)

5 3
3 5
3 3